:root {
  --black: #050505;
  --pop: #926be6;
  --blue: #1620de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  color: #fefefe !important;
}

a:hover {
  text-decoration: none;
}


nav.navbar {
  padding: 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  transition: 0.3s ease-in-out;
}
nav.navbar.scrolled {
  padding: 1rem;
  background-color: var(--black);

}
nav.navbar .navbar-nav .nav-link.navbar-link, .navbar-brand {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
.navbar-brand {
  margin-right: 0 !important;
}


.banner {
  padding: 260px 0 100px 0;
}
.banner-bg {
  z-index: -1;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./bg.png');
  position: fixed;
}
.banner h1 {
  font-size: 60px;
  font-weight: 700;
}

img {
  border: #fefefe;
  border-style: solid;
  border-radius: 5px;
}